body{
  font-family: Courier;
}

#about_section{
  background-image: url("./pink_dust.png");
  text-align: center;
  color: white;
}

#home_section{
  background-image: url("./sakura.png");
  text-align: center;
  color: grey;
}

#portfolio_section{
  background-image: url("./sakura.png");
  text-align: center;
  color: grey;
}

#contact_section{
  background-image: url("./pink_dust.png");
  text-align: center;
  color: white;
}
